.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.logoWrapper {
  margin-top: 20px;
  margin-bottom: 12px;
}

.logo {
  width: 110px;
  height: 110px;
  object-fit: contain;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #0c6245;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 16px;
  line-height: 1.4;
  color: #375f50;
  margin-bottom: 26px;
}

.description {
  font-size: 14px;
  line-height: 1.4;
  color: #375f50;
  margin-bottom: 26px;
}
.buttonGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.cardBtn {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 2px solid #0c6245;
  background: white;
  font-size: 16px;
  font-weight: 600;
  color: #0c6245;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 3px 4px 0px #97c0ae;
}

.cardBtn:active {
  transform: scale(0.97);
}

.icon {
  font-size: 18px;
}

.socialRow {
  margin: 28px;
  display: flex;
  gap: 22px;
}

.socialIcon {
  font-size: 35px;
  color: #0c6245;
  cursor: pointer;
  transition: 0.2s ease;
}

.socialIcon:active {
  transform: scale(0.88);
}

@media (min-width: 600px) {
  .container {
    width: 400px;
    margin: 0 auto;
    border-radius: 16px;
    padding: 24px;
  }
}
