.navbarWrapper {
  width: 100%;
  background: var(--soft-ivory);
  padding: 20px 0;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  padding: 8px;
  height: 45px;
  object-fit: contain;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.avatarImg {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.links {
  display: flex;
  gap: 40px;
}

.links a {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: var(--color-text);
}

.rightButtons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contactBtn {
  background: var(--deep-forest);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.loginLink {
  color: var(--deep-forest);
  cursor: pointer;
}

.profileBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.avatar {
  width: 36px;
  height: 36px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.userName {
  font-size: 14px;
  font-weight: 500;
}

.dropdown hr {
  margin: 8px 0;
  border: none;
  border-top: 1px solid #eee;
}

.dropdown button {
  color: #000;
  padding: 12px 16px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown button:hover {
  background: #f5f5f5;
}

.logout {
  color: #d32f2f;
}

/* Dropdown improvements */
.dropdown {
  position: absolute;
  top: 90px;
  right: 50px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-height: 450px;
  overflow-y: auto;
  z-index: 100;
}

/* Scrollbar */
.dropdown::-webkit-scrollbar {
  width: 6px;
}

.dropdown::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
/* Accordion */
.group {
  border-bottom: 1px solid #eee;
}

.groupHeader {
  padding: 12px 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.groupHeader:hover {
  background: #f5f5f5;
}

.groupHeader span {
  font-size: 14px;
  color: var(--color-text);
}

.groupItems {
  display: flex;
  flex-direction: column;
}

.groupItems button {
  padding: 10px 20px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px !important;
  color: var(--color-text) !important;
  font-weight: bold;
}

.groupItems button:hover {
  background: #f3f3f3;
}

/* Sticky logout */
.logoutWrapper {
  position: sticky;
  bottom: 0;
  background: #fff;
  border-top: 1px solid #eee;
}

.logout {
  color: #d32f2f !important;
  font-weight: bold !important;
  padding: 12px 16px;
  width: 100%;
  text-align: left;
}
