.spinner {
  display: inline-block;
  border-style: solid;
  border-radius: 50%;
  box-sizing: border-box;
  animation: spin 0.65s linear infinite;
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
