.floorSection {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.floorInner {
  width: 100%;
  max-width: 1400px;
  height: 800px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

/* MOBILE */
@media (max-width: 768px) {
  .floorInner {
    flex-direction: column;
    height: auto;
    padding: 40px 20px;
  }
}
